<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tumblr Demo" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tumblr Demo" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script type="text/javascript" src="http://cdn.jsdelivr.net/wow/1.1.2/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>
  <body>
        <%= render 'layouts/messages' %>
        <header class="cd-header wow fadeInLeftBig">
          <a href="#0" class="cd-logo"><img src="/assets/male.svg" alt="Logo"></a>
          <a href="#0" class="cd-3d-nav-trigger">
            Menu
            <span></span>
          </a>
        </header> <!-- .cd-header -->
        <main style="height:500px;"><br>
          <!-- all your content here -->
          <%= yield %>
          <br>
        </main>
        <%#= render 'layouts/footer' %>
        <nav class="cd-3d-nav-container">
          <ul class="cd-3d-nav">
            <li class="cd-selected">
              <a href="/">Dashboard</a>
              <a href="#dashboard">Dashboard</a>
            </li>
            <li>
              <%= link_to "Feeds", posts_path %>
              <%= link_to "Feeds" %>
            </li>
            <li>
              <%= link_to "New Post", new_post_path %>
              <%= link_to "New Post" %>
            </li>
            <li>
              <a href="#about">About</a>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#settings">Settings</a>
              <%#= link_to "Edit", edit_post_path(@post) %>
            </li>

          </ul> <!-- .cd-3d-nav -->

          <span class="cd-marker color-1"></span>


  </body>
</html>
