<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tumblr Demo" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tumblr Demo" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script type="text/javascript" src="http://cdn.jsdelivr.net/wow/1.1.2/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>
  <body>
        <header class="cd-header wow fadeInLeftBig">
          <a href="#0" class="cd-logo"><img src="/assets/male.svg" alt="Logo"></a>
          <a href="#0" class="cd-3d-nav-trigger">
            Menu
            <span></span>
          </a>
        </header> <!-- .cd-header -->
        <main style="height:467px;">
          <%= render 'layouts/messages' %>
          <!-- all your content here -->
          <%= yield %>

        </main>
        <a href="javascript:void(0);" id="rocketmeluncur" class="showrocket" ><i></i></a>
        <nav class="cd-3d-nav-container">
          <ul class="cd-3d-nav">
            <li class="cd-selected">
              <%= link_to "Dashboard", root_path %>
            </li>
            <li>
              <%= link_to "Feeds", posts_path %>
            </li>
            <li>
              <%= link_to "New Post", new_post_path %>
            </li>
            <li>
              <a href="/pages/about">About</a>
            </li>

            <li>
              <% if user_signed_in? %>
                <a href="#">Profile</a>
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
              </li>
              <li>
                <% else %>
                  <%= link_to "Sign Up", new_user_registration_path %>
                  <%= link_to "Sign In", new_user_session_path %>
                <% end %>
            </li>
          </ul> <!-- .cd-3d-nav -->

          <span class="cd-marker color-1"></span>


  </body>
</html>
